.planetas{
    font-size: 50px;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif; 
}
.planetasConDiseno{
    border:1px solid;
    margin-right: 25px; 
    margin-bottom: 15px; 
    transition: 2s;
}
.planetasConDiseno:hover{
    
    filter: invert(100%);
    transition: 2s;
}



